/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

header {
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  background-color: #767676;
  color: white;
  align-items: center;
}

.carrito {
  font-size: 1rem;
}

/* Seccion productos */

#mostrar-vinilos, #mostrar-discos{
  cursor: pointer;
  background-color: #e4e5e7;
  font-weight: bold;
  font-size: 20px;
  color: black;
  border-radius: 5px;
  height: 40px;
  margin: 40px 20px;
}

#mostrar-vinilos:hover{
  color: white;
  background-color: black;
}
#mostrar-discos:hover{
  color: white;
  background-color: black;
}

#contenedor-productos{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  padding: 0px 200px;
}

.seccion-productos {
  padding: 20px;
  text-align: center;
}

.card-producto {
  border: 1px solid rgb(133, 133, 133)676;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  background-color: #767676;
}

.card-producto img {
  width: 130px;
  border-radius: 5px;
  height: 115px;
}

.card-producto h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.card-producto p {
  font-size: 1rem;
  color: #333;
}

.card-producto button{
  background-color: #092910;
  border-radius: 5px;
  height: 30px;
  color: white;
}
.card-producto button:hover {
  background-color: #76d68b;
}


  
/* Seccion carrito */
.seccion-carrito {
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #ccc;
}

#items-carrito {
  padding: 10px 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-carrito{
  margin: 5px 0px;
}

.bloque-item{
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: auto;
  align-items: center;
}

.nombre-item, .info-carrito {
  font-size: 20px;
}

.boton-eliminar {
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 5px;
  height: 30px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.total-carrito {
  font-size: 1.2rem;
  text-align: right;
}

#limpiar{
  background-color: #333;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  height: 50px;
}

#btn-continuar, #confirmar-compra{
  background-color: green;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  height: 50px;
}

.flex-btn{
  display: flex;
  justify-content: space-between;
}

.main-bienvenida{
    justify-items: center;
}

.enviar-nombre{
    display: flex;
    justify-content: center; 
    margin-top: 250px;
    align-items: center;
}

#input-name{
    padding: 20px;
    border: 2px solid #000;
    background-color: #333;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
}

#button-name img{
    cursor: pointer;
    height: 70px;
    opacity: 0.5;
}

#volver{
  background-color: red;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  height: 50px;
}

#btnSumar, #btnRestar, #btnEliminar{
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}
#btnSumar{
  background-color: green;
}
#btnRestar{
  background-color: red;
}
#btnEliminar{
  background-color: rgb(178, 177, 177);
}

/* Ticket */
.ticket-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

.ticket-container h2 {
    margin-bottom: 20px;
    color: #222;
    font-size: 28px;
}

#datos-usuario p {
    margin: 5px 0;
    font-size: 16px;
    color: #444;
}

#detalle-productos {
    list-style: none;
    padding: 0;
    margin: 25px 0;
    text-align: left;
}

#detalle-productos li {
    padding: 10px;
    font-size: 16px;
    color: #333;
}

#total-final {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
}

#reiniciar {
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.contenedor-reiniciar {
    text-align: center;
}

#reiniciar:hover {
    background-color: #444;
}

.error{
  color: red;
  font-size: "14px";
  margin-top: "8px";
  text-align: "center";
}



.logo img {
      height: 150px;
    }

    .botones-inicio {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .botones-inicio button {
      padding: 12px 25px;
      font-size: 18px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .botones-inicio button:hover {
      background-color: #444;
    }